[user]
	name = Deepak Naidu
	email = dnaidu@chipotle.com
[credential]
	helper = osxkeychain
[core]
	editor = code -w
	excludesfile = ~/.gitignore_global
[merge]
	tool = bc
	ff = no
	commit = no
[fetch]
	prune = true
[pull]
	ff = only
	rebase = true
[commit]
	template = /Users/0328219/.gitmessage
	gpgSign = false
[gc]
	autoDetach = false
[gui]
	pruneduringfetch = true
[smartgit "submodule"]
	fetchalways = false
	update = true
	initializenew = true
[push]
	default = simple
	followTags = true
	recurseSubmodules = check
[init]
	defaultBranch = main
[help]
	autocorrect = 1
[grep]
	lineNumber = true
[alias]
	lgb = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset%n' --abbrev-commit --date=relative --branches
	amend = commit --amend --reuse-message=HEAD
	br = branch
	ci = commit
	co = checkout
	contrib = shortlog --summary --numbered
	cr = clone --recursive
	df = diff --word-diff
	g = grep --break --heading --line-number
	l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	ld = "!sh -c \"git log --since '${1:-1} days ago' --oneline --author $(git config user.email)\" -"
	lg = log -p
	ll = log --pretty=oneline --graph --abbrev-commit
	lm = log --pretty=format:'* %s (%h)'
	patch = !git --no-pager diff --no-color
	p = push
	pf = push --force
	pr = "!f() { git fetch -fu ${2:-origin} refs/pull/$1/head:pr/$1 && git checkout pr/$1; }; f"
	show-ignored = "! git clean -ndX | perl -pe 's/Would remove/Ignored:/'"
	st = status
	stl = ls-files -m -o --exclude-standard
	sts = status -sb
	unstage = reset --hard HEAD
[diff]
	tool = bc
[mergetool "bc"]
	trustExitCode = true
